body {
    margin: 40px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 8%, rgba(151,55,156,1) 14%, rgba(232,64,79,1) 29%, rgba(255,105,180,1) 50%, rgba(232,64,79,1) 71%, rgba(151,55,156,1) 86%, rgba(131,58,180,1) 92%);
}

.content h2 {
    margin: 0; 
    padding: 0; 
    margin-top: -100px;
    margin-bottom: 10px;
}

.content h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;

}

.images{
    display: grid;
    gap: 50px;
}
.images img{
   
    width: 500px;
    height: auto;
}
