body {
    margin: 40px; 
    background: rgb(55,156,154);
    background: linear-gradient(90deg, rgba(55,156,154,1) 5%, rgba(155,64,232,1) 30%, rgba(55,156,154,1) 50%, rgba(155,64,232,1) 70%, rgba(55,156,154,1) 95%);

}

.card {
    flex-direction: column;
}

header {
    text-align: center;
}
