@font-face {
    font-family: "Poppins", "sans-serif";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;


}

body {
    background: rgb(156, 55, 143);
    background: linear-gradient(90deg, rgba(156, 55, 143, 1) 5%, rgba(155, 64, 232, 1) 20%, rgba(156, 55, 143, 1) 50%, rgba(155, 64, 232, 1) 80%, rgba(156, 55, 143, 1) 95%);
}

.header {
    position: fixed;
    background-color: rgb(26, 24, 24);
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.header-nav {

    font-weight: 500;
    display: flex;
    gap: 100px;
}

.header a {
    color: white;
}

.header-nav a:hover,
.header-nav a.active {
    color: blue;
}

.contact {
    padding: 10px 28px;
    background-color: rgb(26, 24, 24);
    border-radius: 10px;
    box-shadow: 0 0 25px white;

}

.contact:hover {
    background-color: orange;
    box-shadow: 0 0 25px orange;

}

.logo {
    font-size: x-large;
    font-weight: 600;
    transition: 0.3s ease;

}

.logo:hover {
    text-shadow: 0 0 25px orange,
        0 0 50px orange;
    transform: scale(1.1)
}

.footer {
    position: fixed;
    background-color: rgb(26, 24, 24);
    bottom: 0;
    width: 100%;
    padding: 35px 12%;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.footer a {
    color: white;
}

.footer-nav {
    font-weight: 500;
    display: flex;
    gap: 100px;

}

.footer-nav a:hover,
.footer-nav a.active {
    color: blue;
    border-bottom: 3px solid blue;
}


.card {
    background-color: rgb(26, 24, 24);
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
    border: 5px;
    border-style: solid;
    border-color: rgb(26, 24, 24);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-button {
    background-color: white;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: auto;
    height: 450px;
    border-radius: 30px;
    float: right;
}


.card .content {
    margin-right: 15px;
    position: relative;
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

button {
    background-color: rgb(26, 24, 24);
    border-radius: 15px;
    border: none;
    outline: 0;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
}


p {
    font-size: large;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
} 

h3 {
    font-size:20px;
}

h4 {
    font-size: 15px;
}

li {
    font-size: 18px;
}

h1, h2, h3, h4, li, p, b {
    color: white;
}