@font-face {
    font-family: "Poppins", "sans-serif";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
}

body {
    margin: 40px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 8%, rgba(151,55,156,1) 14%, rgba(232,64,79,1) 29%, rgba(255,105,180,1) 50%, rgba(232,64,79,1) 71%, rgba(151,55,156,1) 86%, rgba(131,58,180,1) 92%);
}


h1 {
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
} 

h3 {
    font-size:20px;
    color: white;
}

li {
    font-size: 18px;
    color: white;
}

.content h2 {
    margin: 0; 
    padding: 0; 
    margin-top: -100px;
    margin-bottom: 10px;
}

.content h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;

}
