body {
    margin: 40px;
    background: rgb(64,131,232);
    background: linear-gradient(90deg, rgba(64,131,232,1) 0%, rgba(55,138,156,1) 8%, rgba(64,232,186,1) 25%, rgba(55,154,156,1) 50%, rgba(64,232,186,1) 75%, rgba(55,138,156,1) 92%, rgba(64,131,232,1) 100%);
}

.job-title {
    display: flex;
    flex-direction: column;
}

.job-title h2, .job-title h4 {
    margin: 0; 
    padding: 0; 
}

.job-title h4 {
    margin-top: 5px;
}