
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none; 
    color: black;
}

.header{
    position: fixed;
    background-color: hotpink;
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 35px 12%; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: larger; 
 }
.header-nav{

    font-weight: 500; 
    display:flex; 
    gap: 100px; 
}

.header-nav a:hover, 
.header-nav a.active{ 
    color:blue;
}

.contact{
    padding: 10px 28px; 
    background-color:white;
    border-radius: 10px; 
    
}
.contact:hover{ 
    background-color: orange;
    box-shadow: 0 0 25px orange;

}



.logo{
    font-size: x-large;
    font-weight: 600; 
    transition: 0.3s ease;

}

.logo:hover{ 
    text-shadow: 0 0 25px orange,
    0 0 50px orange;
    transform: scale(1.1)
}

.footer{
    position: fixed;
    background-color: hotpink;
    bottom: 0; 
    width: 100%;
    padding: 35px 12%; 
    display: flex;
    justify-content: center;
    font-size:larger; 
}
.footer-nav{
    font-weight: 500; 
    display:flex; 
    gap: 100px; 
}

.footer-nav a:hover, 
.footer-nav a.active{ 
    color:blue;
    border-bottom: 3px solid blue;
}
